
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th><%= @shifts.human_attribute_name("description") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shifts.each do |shift| %>
      <tr>
        <td><%= shift.description %></td>
        <td><%= link_to 'Show', shift %></td>
        <td style="width: 30px">
          <%= link_to edit_shift_path(shift) do %>
            <button type="button" class="btn btn-primary btn-circle">
              <i class="fa fa-edit"></i>
            </button>
          <% end %>
        </td>
        <td><%= link_to 'Destroy', shift, method: :delete, data: { confirm: t('confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate @shifts %>
</div>

<%= link_to I18n.t('links.new_shift'), new_shift_path, type: "button", class: "btn btn-primary" %>