
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>

      <th><%= @addresses.human_attribute_name("street") %></th>
      <th><%= @addresses.human_attribute_name("district") %></th>
      <th><%= @addresses.human_attribute_name("city") %></th>
      <th><%= @addresses.human_attribute_name("state") %></th>
      <th><%= @addresses.human_attribute_name("country") %></th>
      <th><%= @addresses.human_attribute_name("postal_code") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.street %></td>
        <td><%= address.district %></td>
        <td><%= address.city %></td>
        <td><%= address.state %></td>
        <td><%= address.country %></td>
        <td><%= address.postal_code %></td>
        <td><%= link_to 'Show', address %></td>
        <td style="width: 30px">
          <%= link_to edit_address_path(address) do %>
            <button type="button" class="btn btn-primary btn-circle">
              <i class="fa fa-edit"></i>
            </button>
          <% end %>
        </td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: t('confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate @addresses %>
</div>

<%= link_to I18n.t('links.new_address'), new_address_path, type: "button", class: "btn btn-primary" %>
